body {
    background-color: white;
    font-family: futura-pt, sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*****************
NAVBAR
***************/
html, body {
    height: 100%;
    margin: 0;
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
    height: 3.5em;
    font-size: 1.4em;
    padding: .4em;
    background-color: white;
    z-index: 500;
}

.nav-item {
    padding: 0 .6em;
}

.nav-item.socials {
    list-style: none;
    display: inline-block;
}

.copyright {
    color: #57c9c3;
    margin: .5em;
}

/************** 
logo swap
*******************/

.logo {
    display: flex;
    justify-content: center;
    margin: 2em;
}

.logo img.image {
    height: 100px;
}

.logo:hover img.image {
    display: none;
}

.logo img.hover {
    display: none;
}

.logo:hover img.hover {
    display: block;
}


.firstAnimation {
    transition: 2s ease 1s;
    transform: translate(-30%, -30%) scale(.40, .40);
    animation-fill-mode: forwards;
}

.leftToRight {
    transition: 2s ease 1s;
    transform: translate(30%, -30%) scale(.40, .40);
    animation-fill-mode: forwards;
}

/**********************
INDEX PAGE
*********************/

.carousel.img {
    overflow: hidden;
    height: 100%;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #111;
    -ms-overflow-style: none;  
    overflow: -moz-scrollbars-none;  
}

.left::-webkit-scrollbar {
    display: none; 
}
  
.right {
    right: 0;
    background-image: linear-gradient(to bottom right, #ff9934, #e768b5);
    background-repeat: no-repeat;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    text-align: center;
}

.right-centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}


/********************
ABOUT PAGE CSS 
**********************/
.bg-image {
    height: 20em;
    overflow: hidden;
}

.band-image {
    width: 100%;
}

.bg-text {
    padding: 20px;
    margin: auto;
    width: 600px;
    height: 250px;
}

.aboutH1 {
    width: 50%;
    transform: translate(50%, -400px);
}
.aboutBio{
    background-image: linear-gradient(to bottom right, #ff9934, #e768b5);
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255, 0.8); 
    color: white;
    margin: auto;
    padding: 100px 200px;
    text-align: justify;
    border: white solid 2px;
    padding: -2px;
}

#aboutMembersZone{
    text-align: center;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bandCard {
    width: 100%;
    text-align: center;
    background-color: #ff9934; /*** orange **/
    opacity: 0.5;
    border: 3px white;
    flex: 0 50%;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.bandCard img {
    width: 100%;
    height: auto;
}

.bandCard:hover {
    opacity: 1.0;
}

.band-member-name {
    padding: 15px;
    text-transform: uppercase;
}

.band-member-instrument {
    padding-bottom: 15px;
    font-style: italic;
}


/****************** 
TOUR  
*********************/ 
#show-more-message {
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#tour-dates {
    margin: auto; 
    width: auto;
}

.tour {
    background-color: white;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    padding: 15px;
}

.date-zone-row {
    justify-content: center;
    padding: 0;
    margin: 0;
}

.month, .time {
    margin-top: 2px;
    margin-bottom: 2px;
}

.center {
    text-align: center;
}

#upcoming {
    font-size: 3em;
    font-weight: bold;
    margin: 50px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.8em;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #ff9934;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #ff9934;
}
 
.btn-primary:active, .btn-primary.active {
    background: #ff9934;
    box-shadow: none;
}

#email-zone, #email-message {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: white;
    font-family: futura-pt, sans-serif;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.712); /* Black w/opacity/see-through */
    color: white;
    margin: auto;
    padding: 20px 200px;
}

#border-nav {
    padding: 50px 160px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.712); /* Black w/opacity/see-through */
}

#show-more {
    margin: 30px 0px 50px 0px;
}

#email-zone .btn {
    max-height: 38px;
    padding: 10px 24px;
}

/******************** 
Discography Styling 
*********************/

/* entire container, keeps perspective */
.album-container {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto 5em auto;
    padding: 0;
    justify-content: center;
}

.card-row {
    display: flex;
    /* min-width: 780px; */
    width: 100%;
    height: 350px;
    padding: 2px;
    margin: 10px 10px 5em 10px;
  }

.card {
    position: relative;
    /* background-color: #FFFFFF; */
    height: 350px;
    width: 350px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  }

.card:hover {
    height: 410px;
    box-shadow: 20px 20px 40px 0px rgba(0,0,0,0.5);
 }

.opacity:hover {
    opacity: 0.5;
}

.card-front {
    /* center horizontally overflown image */
    position: absolute;
    left: -9999px;
    right: -9999px;
    margin: auto;
    height: 350px;
    min-width: 100%;
    max-width: 410px;
    z-index: 1;
}

.card-back {
    position: absolute;
    bottom: 0;
    height: 130px;
    padding: 10px;
    opacity: 1.0;
}

.card-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

.card {
    /* the other rules */
    transition: height 0.3s, width 0.3s, box-shadow 0.3s;
  }


.card-front:hover {
    z-index: -10;
}

.card-back:hover {
    opacity: 1.0;
}

 .card-img-top {
    /* the other rules */
    transition: height 0.3s, width 0.3s, opacity 0.3s;
 }

.albumTitle {
    text-transform: uppercase;
    font-style: bold;
    padding: 10px;
}

.year-text {
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 10px;
}

#more-music-h1 {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    margin: 20px;
}

#focus-album {
    background-image: linear-gradient(to bottom right, #ff9934, #e768b5);
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255, 0.8); 
    color: white;
    margin: auto;
    padding: 100px 200px;
    text-align: justify;
    border: white solid 2px;
    padding: -2px;
}

.album-card {
    max-width: 100%;
    height: auto;
    margin-left: 75px;
}

.album-card img {
    max-width: 90%;
    margin: auto;
    padding: 10px;
}

.album-card-right {
    padding-top: 30px;
    text-transform: uppercase;
}

.album-card-title {
    letter-spacing: 0.2em;
    font-weight: bold;
    margin-bottom: 25px;
}

.album-card-title, .album-card-text {
    padding: 0;
    color: white;
}

.socials {
    display: flex;
    flex-flow: row wrap;
    align-items: end;
    color: white;
    margin-top: 100px;
}

.socials a {
    color: white;
}


@media only screen and (max-width: 600px) {
    .logo img.image {
      height: 45px;
    }
    
    .navbar {
        font-size: 11px;
    }

    #carousel {
        margin-top: 2em;
    }

    #songTitle {
        font-size: 18px;
    }

    #albumTitle{
        font-size: 18px;
    }

    #title{
        align-items: flex-end;
    }

    #stats {
        font-size: 11px;
    }
}